body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('C:\Users\aksms\OneDrive\Desktop\travel-explorer\src\assets\images\background.png'); /* replace with your image path */
  background-size: cover;      /* cover the entire screen */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(77, 77, 72, 0.9); 
  z-index: -1;
}
.dashboard-title {
  font-family: 'Brush Script MT', cursive; 
  font-size: 4rem; 
  color: rgb(250, 250, 251);
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-weight: 800;
}
.dashboard-subtitle {
  font-size: 1.6rem; 
  color: #eef0eb;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

.state-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(145deg, #ffffff, #f1f1f1);
  width: 250px; 
  text-align: center;
}
.state-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.25);
}
.state-title {
  font-family: 'Lucida Handwriting', cursive;
  font-size: 1.9rem; 
  color: rgb(72, 103, 147);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.state-description {
  font-size: 1.1rem; 
  color: #a73e3e;
  margin-bottom: 1rem;
  font-weight: 700;
}

.btn-outline-primary, .btn-outline-success {
  font-size: 1rem; 
  padding: 6px 12px;
}

.btn-outline-primary {
  border-color: #0d6efd;
  color: #0d6efd;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff;
}

.btn-outline-success {
  border-color: #198754;
  color: #198754;
}

.btn-outline-success:hover {
  background-color: #198754;
  color: #fff;
}













